.orange-btn {
    border-radius: 10px;
    width: 198px;
    height: 40px;
    background-color: #F05508;
    border: #F05508;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
}

.orange-btn:hover {
    background-color: #F68E5F;
    transition: background-color 0.3s ease;
}

.outline-btn:hover {
    background-color: white;
    transition: background-color 0.3s ease;
}

.orange-btn:active {
    background-color: #F05508;
}