.header-container {
    width: 1429px;
    height: 137px;
    margin-left: 246px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Inter', 'sans-serif';
    padding-top: 60px;
    padding-bottom: 60px;
    background: white;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.logo-container span {
    margin-top: 10px;
}

.logo {
    height: 84px;
    width: 85px;
}

.brand-name a {
    font-size: 24px;
    margin-top: 23px;
    line-height: 20px;
    color: #F05508;
    font-weight: bold;
    font-family: 'Josefin Sans', 'sans-serif';
    text-decoration: none;
}

.links-container {
    margin-left: 300px;
}

.nav-links a {
    font-style: normal;
    width: auto;
    height: 20px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: black;
    text-decoration: none;
    margin-left: 85px;
}

.nav-buttons {
    align-items: center;
    display: flex;
    gap: 50px;
    justify-content: end;
}

