
.main-section h1 {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 100px;
    font-size: 32px;
    font-weight: 700;
    font-family: Inter, serif;
    color: #000;
}

.menu-container {
    justify-content: start;
    margin-left: 0;
    width: 313px;
    height: 180px;
}

.menu-container a {
    text-align: start;
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;
    font-family: Inter, serif;
    border: 0.5px solid #086788;
    background-color: #FFF;
    display: block;
    padding: 20px 20px;
    list-style: none;
    text-decoration: none;
    color: #B3B3B3;
    font-style: normal;
}

.pet-link:hover {
    background: #D8F0FF;
    color: #086788;
}

.visits:hover {
    background: #D8F0FF;
    color: #086788;
}

.med-records:hover {
    background: #D8F0FF;
    color: #086788;
}


.grid-container {
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 20px;
    margin-left: 200px;
    margin-bottom: 250px;
    margin-top: 55px;
}


.pet-card {
    background-color: #F5F5F5;
    width: 463px;
    height: 504px;
    border-radius: 10px;
    margin-left: 90px;
    margin-top: 15px;
}

.pet-card img{
    width: 413px;
    height: 300px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
    object-fit: cover;
}
