.footer {
    background-color: #F9F8F8;
    font-size: 16px;
    height: 385px;
    width: auto;
    margin-bottom: 44px;
    box-sizing: border-box;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    margin-left: 246px;
}

.footer-column-one{
    width: 386px;
    height: 295px;
    margin-top: 46px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 700;
    font-family: Roboto, serif;
    padding: 0;
    line-height: 100%;
}

.contacts-section ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.contacts-section ul li img {
    margin-right: 10px;
    vertical-align: middle;
}

.footer-logo {
    width: 88px;
    height: 84px;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
    font-weight: bold;
    color: #e76f00;
    font-size: 16px;
    margin-bottom: 35px;
}

.footer-logo img {
    height: 80px;
    width: 58px;
}

.footer-logo a {
    text-decoration: none;
    color: #e76f00;
}

.highlight {
    color: #6390B8;
    font-weight: 400;
}

.sub-highlight {
    color: #6390B8;
    font-weight: 400;
    margin-top: 18px;
}

.sub-highlight p {
    padding-top: 18px;
    display: inline;
    font-weight: 500;
}

.information-section {
    margin-left: 70px;
    margin-top: 64px;
    font-family: Inter, serif;
}

.information-section h4 {
    color: #07A0C3;
    font-weight: 600;
    font-size: 20px;
}

.information-section ul a{
    text-decoration: none;
    color: #1C1B1F;
}

.information-section ul a:hover {
    background-color: #D8F0FF;
    padding: 4px 4px;
    border-radius: 10px;
}

.information-section ul {
    font-family: Inter, serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.links-section {
    margin-left: 70px;
    width: 130px;
    margin-top: 64px;
    font-size: 16px;
    font-weight: 500;
    font-family: Inter, serif;
}

.links-section a {
    color: #1C1B1F;
    text-decoration: none;
}

.links-section a:hover {
    background-color: #D8F0FF;
    padding: 4px 4px;
    border-radius: 10px;
}

.links-section ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.links-section h4 {
    color: #07A0C3;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 15px;
}

.socials-section {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.socials a img {
    height: 24px;
    transition: transform 0.2s ease;
}


