.signup-container {
    display: flex;
    justify-content: center;
    padding: 2rem;
    background: #fff;
    margin-top: 100px;
    margin-bottom: 150px;
}

.signup-main {
    max-width: 721px;
    width: 100%;
}

.signup-title {
    font-size: 37px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-bottom: 1.5rem;
    text-align: center;
}

.signup-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    font-family: 'Inter', 'sans-serif';
    font-weight: 500;
    font-size: 20px;
}

.form-group label {
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.form-group input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-row {
    display: flex;
    gap: 1rem;
}

.form-row .form-group {
    flex: 1;
}

.form-checkbox {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
    font-size: 0.875rem;
}

.form-checkbox input {
    margin-top: 0.2rem;
    height: 30px;
    width: 33px;
}

.form-actions {
    display: flex;
    gap: 1rem;
}

.submit-btn {
    background-color: #F05508;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Open Sans', 'sans-serif';
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 360px;
    height: 61px;
}

.submit-btn:hover {
    background-color: #F68E5F;
    color: #fff;
}

.submit-btn:active {
    background-color: #F05508;
}

.login-btn {
    border: 1px solid #F05508;
    color: #F05508;
    background: none;
    padding: 0.5rem 1rem;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Open Sans', 'sans-serif';
    border-radius: 10px;
    cursor: pointer;
    width: 360px;
    height: 61px;
}

.login-btn:hover {
    background-color: #F68E5F;
    color: #fff;
}

.login-btn:active {
    background-color: #F05508;
}


.required-note {
    font-size: 15px;
    color: #000;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

.checkbox-text {
    color:#6C757D;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', 'sans-serif';
}

.checkbox-text a {
    color:#6C757D;
    /*text-decoration: none;*/
}

.signup-form input{
    width: auto;
    height: 52px;
    border-radius: 10px;
    font-size: 16px;
    text-align: start;
    font-weight: 400;
    font-family: 'Inter', 'sans-serif';
    border: 1px solid #252424;
}

.form-checkbox input[type="checkbox"] {
    transform: scale(2.7);
    margin-right: 2rem;
    margin-left: 0.8rem;
    margin-top: 0;
    border: 1px solid #7F7F7F;
    accent-color: #7F7F7F;
}