.ad-container {
    background-image: url("../../assets/Лендинги/2202.q702.029.F.m005.c7.veterinary.jpg");
    background-color: rgba(0, 0, 0, 0.5); /* black with 50% opacity */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    width: 1429px;
    height: 487px;
    font-family: Inter, serif;
    margin: 220px 245px;
    border-radius: 20px;
}

.ad-container > * {
    position: relative;
    z-index: 1;
}

.ad-container::before {
    border-radius: 20px;
    width: 1429px;
    height: 487px;
    margin: 365px 254px;
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5); /* black with 50% opacity */
    z-index: 0;
}

.ad-container h1 {
    font-size: 40px;
    line-height: 45px;
    color: #FFFFFF;
    font-weight: 600;
    font-family: Inter, serif;
    padding-top: 87px;
    padding-left: 131px;
}

.ad-container p {
    font-size: 24px;
    line-height: 25px;
    color: #FFFFFF;
    font-weight: 400;
    font-family: Inter, serif;
    margin-top: 19px;
    padding-left: 131px;
}

.ad-container button {
    width: 270px;
    height: 64px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
    background: #F05508;
    margin: 20px 131px;

}

h2{
    font-size: 32px;
    line-height: 20px;
    color: #000000;
    font-weight: 600;
    font-family: Poppins, serif;
    margin-top: 200px;
    text-align: center;
}

.services-button {
    margin-left: 1450px;
}

.about-us-container {
    display: flex;
    margin-top: 200px;
    margin-bottom: 200px;
}

.about-us-content {
    background-color: #086788;
    width: 1920px;
    height: 468px;
}

.about-us-content h3 {
    font-size: 32px;
    line-height: 20px;
    color: #FFFFFF;
    font-weight: 600;
    font-family: Inter, serif;
    margin-left: 246px;
    padding-top: 79px;
}

.about-us-content p {
    margin-left: 246px;
    margin-top: 25px;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    font-family: Inter, serif;
}

.about-us-content button {
    margin-left: 246px;
}

.about-us-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0;
    height: 400px;
    background: none;
    padding: 0;
    margin-right: 500px;
}

.about-us-img img {
    border-radius: 20px;
}

.tabs-container {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(6, 1fr);
    gap: 15px;
    margin-left: 251px;
    margin-bottom: 100px;
}

.trusted-care {
    width: 463px;
    height: 491px;
    background-color: #F9F8F8;
}

.trusted-care h3 {
    font-family: Inter, serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 28px;
    color: #086788;
    margin-top: 50px;
    margin-left: 130px;
}

.trusted-care p {
    font-family: Inter, serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #0D161C;
    margin-top: 20px;
    text-align: center;
}

.trusted-care img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 153px;
    margin-top: 76px;
}

.smart-tracking{
    width: 463px;
    height: 491px;
    background-color: #F9F8F8;
}

.smart-tracking h3 {
    font-family: Inter, serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 28px;
    color: #086788;
    margin-top: 50px;
    margin-left: 130px;
}

.smart-tracking p {
    font-family: Inter, serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #0D161C;
    margin-top: 20px;
    text-align: center;
}

.smart-tracking img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 172px;
    margin-top: 95px;
}

.all-in-one{
    width: 463px;
    height: 491px;
    background-color: #F9F8F8;
}

.all-in-one h3 {
    font-family: Inter, serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 28px;
    color: #086788;
    margin-top: 50px;
    margin-left: 130px;
}

.all-in-one p {
    font-family: Inter, serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #0D161C;
    margin-top: 20px;
    text-align: center;
}

.all-in-one img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 167px;
    margin-top: 90px;
}

.reviews-container {
    background-color: #FCFBFB;
    width: auto;
    height: 708px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 112px;
    margin-top: 100px;
}