.password-recovery-container {
    margin-top: 120px;
    margin-bottom: 285px;
    display: flex;
    justify-content: center;
    padding: 2rem;
    background: #fff;
}

.password-recovery-form h1{
    text-align: center;
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.password-recovery-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.password-recovery-form label {
    font-size: 20px;
    font-family: 'Inter', 'sans-serif';
    font-weight: 500;
    text-align: start;
}

.password-recovery-form input {
    width: 739px;
    height: 78px;
    border-radius: 10px;
    font-size: 16px;
    text-align: start;
    font-weight: 400;
    font-family: 'Inter', 'sans-serif';
}

.password-recovery-form p {
    font-size: 16px;
    font-family: 'Inter', 'sans-serif';
    font-weight: 400;
    text-align: start;
}

.password-recovery-form button {
    margin-top: 1rem;
    background-color: #F05508;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Open Sans', 'sans-serif';
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 360px;
    height: 61px;
    color: #fff;
}

.password-recovery-form button:hover {
    background-color: #F68E5F;
}

.password-recovery-form button:active {
    background-color: #F05508;
}