.services-grid {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
    margin: 60px 247px;
}

.services-card {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 464px;
    height: 264px;
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    position: relative;
}

.services-card p {
    font-size: 20px;
    line-height: 20px;
    color: white;
    font-weight: 500;
    font-family: Inter, serif;
    z-index: 1;
    text-align: left;
    position: absolute;
    bottom: 0;
    left: 25px;
}

.bg-general-checkup {
    background-image:
            linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)),
            url("../assets/Services/2149100168.jpg");
}

.bg-vaccinations {
    background-image:
            linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)),
            url("../assets/Services/2147928582.jpg");
}

.bg-dental-care {
    background-image:
            linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)),
            url('../assets/Services/Dental.jpg');
}

.bg-grooming {
    background-image:
            linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)),
            url("../assets/Services/Grooming.jpg");
}

.bg-laboratory-tests {
    background-image:
            linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)),
            url("../assets/Services/Laboratory Tests.jpg");
}

.bg-nutritional-counseling {
    background-image:
            linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)),
            url("../assets/Services/Nutritional Counseling.jpg");
}

.arrow-link {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 20px;
    height: 24px;
    background-image: url('../assets/Services/Vector.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
}

.left-arrow-link {
    position: absolute;
    width: 27px;
    height: 32px;
    top: 265px;
    left: 249px;
    border-width: 3px;
    background-image: url('../assets/Services/Vector2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 10;
}

.service-card {
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-position: center 54%;
    background-repeat: no-repeat;
    color: white;
    width: 100%;
    max-width: 1423px;
    height: 300px;
    font-family: Inter, serif;
    margin: 200px 249px 60px 249px;
    border-radius: 8px;
    text-align: center;
    overflow: hidden;
    font-weight: 400;
}

.service-card > * {
    position: relative;
    z-index: 1;
}

.service-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
    border-radius: 8px;
}

.service-card h1 {
    font-size: 32px;
    line-height: 20px;
    color: #FFFFFF;
    font-weight: 600;
    font-family: Inter, serif;
    padding-top: 87px;
    text-align: center;
}

.service-card p {
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    font-weight: 400;
    font-family: Inter, serif;
    margin-top: 19px;
    text-align: center;
}

.service-include-container {
    width: 1071px;
    height: 250px;
    margin-top: 100px;
    margin-left: 249px;
    font-family: Inter, serif;
    font-size: 24px;
    line-height: 28px;
    color: #333;
    box-sizing: border-box;
}

.service-include-container h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 20px;
    letter-spacing: 0;
    color: #000000;
    margin: 0;
}

.checkmark-list {
    list-style: none;
    padding-left: 0;
    margin-top: 20px;
}

.checkmark-list li {
    position: relative;
    padding-left: 32px;
    margin-bottom: 12px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    letter-spacing: 0;
    color: #000;
}

.checkmark-list li::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    width: 20px;
    height: 20px;
    background-image: url('../assets/Services/check-mark-svgrepo-com 1.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.service-forwho-container {
    display: flex;
    align-items: center;
    gap: 100px;
    margin: 100px 0;
    padding-left: 247px;
}

.forwho-image {
    width: 722px;
    height: 416px;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    flex-shrink: 0;
}

.paw-list {
    list-style: none;
    padding-left: 0;
    margin-top: 20px;
}

.paw-list li {
    width: 500px;
    height: auto;
    position: relative;
    padding-left: 32px;
    margin-bottom: 12px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    letter-spacing: 0;
    color: #000;
    white-space: normal;
}

.h2 {
    text-align: center !important;
}


.paw-list .forwho-title {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    letter-spacing: 0;
    color: #000000;
    margin: 0;
    margin-bottom: 20px;
    padding-left: 0;
}

.paw-list .forwho-title::before {
    content: none;
}

.paw-list li::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 0;
    width: 20px;
    height: 20px;
    background-image: url('../assets/Services/paw-svgrepo-com 1.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.service-book-please h3 {
    font-size: 24px;
    line-height: 35px;
    color: #000000;
    font-weight: 600;
    font-family: Poppins, serif;
    margin-top: 100px;
    text-align: center;
}
.service-book-please button {
    width: 270px;
    height: 64px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
    background: #F05508;
    margin: 15px 131px 120px 825px;
}
.bg-service-general-checkup {
    background-image: url('../assets/Services/2149100168.jpg');
}
.bg-forwho-general-checkup {
    background-image: url('../assets/Services/d3ef6479d835713b77354aa668019d1b4720b038.jpg');
}
.bg-service-vaccinations {
    background-image: url('../assets/Services/2147928582.jpg');
}
.bg-forwho-vaccinations {
    background-image: url('../assets/Services/eaa4940dd94e7caf28c51568c40c2e745201d2b7.jpg');
}
.bg-service-dental-care {
    background-image: url('../assets/Services/Dental.jpg');
}
.bg-forwho-dental-care {
    background-image: url('../assets/Services/2149100168.jpg');
}
.bg-service-grooming {
    background-image: url('../assets/Services/Grooming.jpg');
}
.bg-forwho-grooming {
    background-image: url('../assets/Services/1630afa46660e61c543b830cede76a0940ca8883.jpg');
}
.bg-service-laboratory-tests {
    background-image: url('../assets/Services/Laboratory Tests.jpg');
    background-position: center 35%;
}
.bg-forwho-laboratory-tests {
    background-image: url('../assets/Services/7b4da419bf92fa6d432c636c9b80e1dd02ae3f8e.jpg');
}
.bg-service-nutritional-counselling {
    background-image: url('../assets/Services/Nutritional Counseling.jpg');
    background-position: center 63%;
}
.bg-forwho-nutritional-counselling {
    background-image: url('../assets/Services/136c2ace0a20e4596bcccdd9b60e17817c47a088.jpg');
}
